{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="single-author">
        <div class="container">
            <div class="row author">
                <div class="col-md-12">
                    <div class="author-info">
                        <h1>{{ category.name }} - Books</h1>
                    </div>
                    <div class="mt-5 d-flex justify-content-center">
                        <nav aria-label="Next and Previous navigation" class="w-100">
                            <ul class="pagination d-flex justify-content-between">
                                {% if category.previous %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-primary" href="{% url 'category' category.previous.slug %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo; {% trans "Previous" %}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if category.next %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-primary" href="{% url 'category' category.next.slug %}" aria-label="Next">
                                            <span aria-hidden="true">{% trans "Next" %} &raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 books-listing">
                    <div class="books-list">
                        <div class="row book-grid">
                            {% for book in books %}
                                <div class="col-sm-12 col-md-6 col-lg-4 book-3-row">
                                    <div class="row book" itemscope itemtype="http://schema.org/Book">
                                        <meta itemprop="isbn" content="9780670858699" />
                                        <meta itemprop="name" content="{{ book.name }}" />
                                        <meta itemprop="datePublished" content="{{ book.created_at|date:"Y" }}" />
                                        <div class="book-cover col-lg-3 col-3">
                                            <a href="{% url 'show_book' book.slug %}">
                                                {% if book.image %}
                                                <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid">
                                                {% else %}
                                                <img src="" alt="{{ book.name }}" class="img-fluid">
                                                {% endif %}
                                                
                                            </a>
                                        </div>
                                        <div class="book-info col-lg-9 col-9">
                                            <h2 class="book-title">
                                                <a href="{% url 'show_book' book.slug %}">{{ book.name }}</a>
                                            </h2>
                                            <div class="book-attr">
                                                <span class="book-publishing-year">{{ book.created_at|date:"Y" }}</span>
                                            </div>
                                            <div class="book-rating">
                                                <!-- Replace with actual stars rating if available -->
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                            </div>
                                            {% if book.description %}
                                            <div class="book-short-description">{{ book.description|slice:":90"|default:"..." }}</div>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% if books.paginator.num_pages > 1 %}
        <div class="pagination-container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if books.has_previous %}
                    <li class="page-item">
                        <a class="page-link" style="padding: 4.4px;" href="?page={{ books.previous_page_number }}"
                            aria-label="Previous">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l14 0" />
                                <path d="M5 12l6 6" />
                                <path d="M5 12l6 -6" />
                            </svg>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in books.paginator.page_range %}
                    {% if books.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                    {% elif num > books.number|add:'-3' and num < books.number|add:'3' %} <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if books.has_next %}
                        <li class="page-item">
                            <a class="page-link" style="padding: 4.4px;" href="?page={{ books.next_page_number }}"
                                aria-label="Next">
                                <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l14 0" />
                                        <path d="M13 18l6 -6" />
                                        <path d="M13 6l6 6" />
                                    </svg>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                        {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </section>
{% endblock %}
