{% extends "base.html" %}
{% block content %}
<section class="home-book-list">
    <div class="container">
        <div class="row book-list">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h1 class="h3">Weky Book - Last Books</h1>
                        </div>
                    </div>
                    {% for book in books %}
                     <div class="col-lg-6 col-md-6">
                        <div class="row book">
                            <div class="book-cover col-lg-3 col-3">
                                <a href="{% url "show_book" book.slug %}">
                                    {% if book.image %}
                                    <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid">
                                    {% else %}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="book-info col-lg-9 col-9">
                                <div class="book-title">
                                    <a href="{% url "show_book" book.slug %}">{{ book.name }}</a>
                                </div>
                                <div class="book-attr">
                                    <span class="book-publishing-year">2023, </span> <span class="book-author">{{ book.author.full_name }}</span>
                                </div>
                                <div class="book-rating">
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                </div>
                                <div class="book-short-description">{{ book.description }}</div>
                                <div class="book-settings">
                                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row mini-list-authors">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2 class="h4">Popular Authors</h2>
                        </div>
                    </div>
                    {% for author in authors %}
                        <div class="col-lg-12 col-md-6 author">
                            <div class="author-photo">
                                <a href="{% url "show_author" author.slug %}" class="text-center">
                                    <img src="/static/imgs/noavatar.png" alt="{{ author.full_name }}" class="rounded-circle">
                                </a>
                            </div>
                            <div class="author-info">
                                <div class="author-name">
                                    <a href="{% url "show_author" author.slug %}"> {{ author.full_name }}</a>
                                </div>
                                <div class="author-books">{{ author.book_set.count }} books</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}