{% extends "base.html" %}


{% block content %}
<section class="home-book-carousel owl-carousel">
    <div class="book green-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href="/book/angry-god-all-saints-high-3-pdf-download"><img
                        src="https://d-pdf.com/images/covers/2024/August/66c3120260a82/small/9798607986254.jpg"
                        alt="Angry God (All Saints High #3) PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="/book/angry-god-all-saints-high-3-pdf-download">Angry God (All Saints High #3) PDF
                        Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2020, </span> <span class="book-author">L. J. Shen </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> "Mother. Of. All. Angst. This book is not for the faint of heart.
                    It is
                    rip-your-hair-out frustrating and full of depth and emotion." - Lana, DG...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="book purple-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href="/book/chasing-love-dark-love-1-pdf-download"><img
                        src="https://d-pdf.com/images/covers/2024/August/66c3124785ea5/small/9798654418876.jpg"
                        alt="Chasing Love (Dark Love #1) PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="/book/chasing-love-dark-love-1-pdf-download">Chasing Love (Dark Love #1) PDF Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2020, </span> <span class="book-author">Kat T. Masen </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> He was my first love. Shattered me, then left without a goodbye.
                    Eight
                    years have passed, and now he's back. But, I'm engaged. And he will do...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="book blue-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href="/book/the-spy-kingmakers-4-pdf-download"><img
                        src="https://d-pdf.com/images/covers/2024/August/66c31298cba60/small/9798834981145.jpg"
                        alt="The Spy (Kingmakers #4) PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="/book/the-spy-kingmakers-4-pdf-download">The Spy (Kingmakers #4) PDF Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2022, </span> <span class="book-author">Sophie Lark </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> "I’ve waited three long years for this... Hiding. Lying. Spying.
                    Waiting
                    like a spider for her to wander into my web... Now she’s here, and I have...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="book burgundy-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href="/book/spark-of-the-everflame-pdf-download"><img
                        src="https://d-pdf.com/images/covers/2024/August/66c312ecc4c94/small/9798988161707.jpg"
                        alt="Spark of the Everflame PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="/book/spark-of-the-everflame-pdf-download">Spark of the Everflame PDF Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2023, </span> <span class="book-author">Penn Cole </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> When old secrets catch fire, everything will burn. In a mortal
                    world
                    colonized by the gods and ruled over by the Descended, their cruel...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="book beige-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href="/book/glow-of-the-everflame-pdf-download"><img
                        src="https://d-pdf.com/images/covers/2024/August/66c313236a145/small/9798988161721.jpg"
                        alt="Glow of the Everflame PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="/book/glow-of-the-everflame-pdf-download">Glow of the Everflame PDF Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2023, </span> <span class="book-author">Penn Cole </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> An unexpected gift offers the power to change everything-but
                    keeping it
                    could cost Diem her life. The threat of war has arrived at Diem's...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="book pink-bg">
        <div class="row">
            <div class="book-cover col-lg-4 col-4">
                <a href=""><img
                        src="https://d-pdf.com/images/covers/2024/August/66c3135932121/small/9798988161745.jpg"
                        alt="Heat of the Everflame PDF Download" class="img-fluid"></a>
            </div>
            <div class="book-info col-lg-8 col-8">
                <div class="book-title">
                    <a href="">Heat of the Everflame PDF Download</a>
                </div>
                <div class="book-attr">
                    <span class="book-publishing-year">2023, </span> <span class="book-author">Penn Cole </span>
                </div>
                <div class="book-rating">



                    <div class="book-rating-box">
                        <div class="rating" style="width:100%;"></div>
                    </div>

                </div>
                <div class="book-short-description"> The war has begun. Both sides demand Diem's allegiance-or her
                    death.
                    After her disastrous coronation, Diem finds herself at the center of the...</div>
                <div class="book-settings">
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-book-list">
    <div class="container">
        <div class="row book-list">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Last Books</h2>
                        </div>
                    </div>
                    {% for book in books %}
                     <div class="col-lg-6 col-md-6">
                        <div class="row book">
                            <div class="book-cover col-lg-3 col-3">
                                <a href="{% url "show_book" book.slug %}">
                                    {% if book.image %}
                                    <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid">
                                    {% else %}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="book-info col-lg-9 col-9">
                                <div class="book-title">
                                    <a href="{% url "show_book" book.slug %}">{{ book.name }}</a>
                                </div>
                                <div class="book-attr">
                                    <span class="book-publishing-year">2023, </span> <span class="book-author">{{ book.author.full_name }}</span>
                                </div>
                                <div class="book-rating">
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                    {% include "components/start.html" %}
                                </div>
                                <div class="book-short-description">{{ book.description }}</div>
                                <div class="book-settings">
                                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row mini-list-authors">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Popular Authors</h2>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/987/books" class="text-center">
                                <img src="https://d-pdf.com/resources/images/noavatar.png" alt="Christina Lauren" class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/987/books"> Christina Lauren</a>
                            </div>
                            <div class="author-books">6 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/2320/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Sophie Lark " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/2320/books"> Sophie Lark</a>
                            </div>
                            <div class="author-books">13 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/2450/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="L. J. Shen " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/2450/books"> L. J. Shen</a>
                            </div>
                            <div class="author-books">9 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5109/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Krista Street " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5109/books"> Krista Street</a>
                            </div>
                            <div class="author-books">6 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5455/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Clarissa Wild " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5455/books"> Clarissa Wild</a>
                            </div>
                            <div class="author-books">3 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5457/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Brittanée Nicole " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5457/books"> Brittanée Nicole</a>
                            </div>
                            <div class="author-books">5 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5497/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Jennifer Millikin " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5497/books"> Jennifer Millikin</a>
                            </div>
                            <div class="author-books">3 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5580/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Nisi Shawl " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5580/books"> Nisi Shawl</a>
                            </div>
                            <div class="author-books">2 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5581/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Gregg Olsen " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5581/books"> Gregg Olsen</a>
                            </div>
                            <div class="author-books">3 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5590/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Jacob Peppers " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5590/books"> Jacob Peppers</a>
                            </div>
                            <div class="author-books">1 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5591/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Kat T. Masen " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5591/books"> Kat T. Masen</a>
                            </div>
                            <div class="author-books">1 books</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 author">
                        <div class="author-photo">
                            <a href="/author/5592/books" class="text-center"><img src="https://d-pdf.com/resources/images/noavatar.png"
                                    alt="Penn Cole " class="rounded-circle"></a>

                        </div>
                        <div class="author-info">
                            <div class="author-name">
                                <a href="/author/5592/books"> Penn Cole</a>
                            </div>
                            <div class="author-books">3 books</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}