{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<section class="single-book" data-book="{{ book.slug }}" itemscope itemtype="http://schema.org/Book">
    <meta itemprop="url" content="/book/{{ book.slug }}" />
    <meta itemprop="author" content="{{ book.author.full_name }}" />
    <meta itemprop="publisher" content="{{ book.author.full_name }}" />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sticky-left-column">
                    <div class="book-cover">
                        {% if book.image %}
                            <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid" itemprop="image">
                        {% else %}
                            <img src="{% static "imgs/default-book-image.png" %}" alt="{{ book.name }}" class="img-fluid" itemprop="image">
                        {% endif %}
                    </div>

                    <div class="social-btns">
                        <a target="_blank" aria-label="{% trans 'Share with Facebook' %}" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                            class="fb-xfbml-parse-ignore btn facebook">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                        </a>
                        <a class="btn twitter" href="https://twitter.com/intent/tweet?text={{ book.name }} {{ request.build_absolute_uri }}"
                            data-show-count="false" aria-label="{% trans 'Share with X' %}" target="blank">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" /></svg>
                        </a>
                        <a class="btn pinterest"
                            href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&description={{ book.name }}"
                            aria-label="{% trans 'Share with Pinterest' %}" target="blank">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-pinterest"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 20l4 -9" /><path d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </a>

                        <a class="btn whatsapp"
                            href="whatsapp://send/?url={{ request.build_absolute_uri }}&text={{ book.name }}"
                            aria-label="{% trans 'Share with Pinterest' %}" target="blank">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>          
                        </a>

                        <a class="btn telegram"
                            href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{ book.name }}"
                            aria-label="{% trans 'Share with Pinterest' %}" target="blank">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>
                        </a>

                    </div>
                    {% if book.url %}
                    <div class="download read py-3">
                        <a download href="{{ book.file.url }}" class="w-100 btn btn-primary btn-rounded d-flex justify-content-center">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
                            <span class="mx-2">{% trans 'Download' %}</span>
                        </a>
                        <a href="{{ book.file.url }}" class="w-100 mt-4 btn btn-warning btn-rounded d-flex justify-content-center">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
                            <span class="mx-2">{% trans 'Read' %}</span>
                        </a>
                    </div>
                    {% else %}
                    {% endif %}
                    
                </div>
            </div>

            <div class="col-lg-9">
                <h1 itemprop="name" class="h3" dir="auto">{{ book.name }}</h1>
                <div class="book-rating general" itemprop="aggregateRating" itemscope
                    itemtype="http://schema.org/AggregateRating">
                    <div class="d-flex align-items-center gap-2">
                        <div id="rating-container">
                            {% include "components/start.html" %}
                            {% include "components/start.html" %}
                            {% include "components/start.html" %}
                            {% include "components/start.html" %}
                            {% include "components/start.html" %}
                        </div>
                        <div class="whole-rating">
                            <span class="average">2 {% trans 'Avg rating' %}</span><span
                                class="separator">—</span><span>{{ book.comments.count|default:2 }}</span>
                            {% trans 'Votes' %}
                        </div>
                    </div>
                    <meta itemprop="ratingValue" content="2" />
                    <meta itemprop="ratingCount" content="{{ book.comments.count|default:2 }}" />
                </div>

                <table class="table book-meta" style="--bs-body-bg: none;">
                    <tbody>
                        <tr>
                            <td>{% trans 'Book name' %}:</td>
                            <td>
                                <span itemprop="bookName">{{ book.name }}</span>
                                <span>({{ book.created_at.year }})</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Category' %}:</td>
                            <td>
                                <a itemprop="category" href="">{{ book.category.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Author' %}:</td>
                            <td>
                                <a href="{% url "show_author" book.author.slug %}" itemprop="author">{{ book.author.full_name }}</a>
                            </td>
                        </tr>

                        {% if book.pages %}
                        <tr>
                            <td>{% trans 'Pages' %}:</td>
                            <td>
                                <span itemprop="numberOfPages">{{ book.pages|default:'__' }} {% trans 'pages' %}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if book.isbn13 %}
                        <tr>
                            <td>{% trans 'ISBN13' %}:</td>
                            <td>
                                <span itemprop="isbn10">{{ book.isbn|default:'__' }}</span>
                            </td>
                        </tr>
                        {% endif %}

                         {% if book.isbn %}
                        <tr>
                            <td>{% trans 'ISBN' %}:</td>
                            <td>
                                <span itemprop="isbn">{{ book.isbn|default:'__' }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>{% trans 'Language' %}:</td>
                            <td itemprop="Language">
                                {{ book.language.name }}
                            </td>
                        </tr>
                        {% if book.type %}
                        <tr>
                            <td>{% trans 'Type' %}:</td>
                            <td>
                                <div class="badge badge-danger p-2">{{ book.type|default:"__" }}</div>
                            </td>
                        </tr>
                        {% endif %}

                        {% if book.publication_date %}
                          <tr>
                            <td>{% trans 'Publication data' %}:</td>
                            <td>
                                {{ book.publication_date|default:"__" }}
                            </td>
                        </tr>

                        {% endif %}
                    </tbody>
                </table>

                {% if user.is_authenticated and user.email %}
                {% comment %} {% include 'book_actions.html' with book=book %} {% endcomment %}
                {% endif %}
                <div class="mt-5 d-flex justify-content-center">
                    <nav aria-label="Next and Previous navigation" class="w-100">
                        <ul class="pagination d-flex justify-content-between">
                            {% if book.pre %}
                            <li class="page-item">
                                <a class="page-link btn btn-primary" href="{% url 'show_book' book.pre.slug %}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo; {% trans 'Previous' %}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if book.next %}
                            <li class="page-item">
                                <a class="page-link btn btn-primary" href="{% url 'show_book' book.next.slug %}"
                                    aria-label="Next">
                                    <span aria-hidden="true">{% trans 'Next' %} &raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="book-description mb-6" itemprop="description">
                    {{ book.body|safe }}
                </div>
                
                <div class="container mt-4 p-0">
                <h2 class="mb-4">{% trans "About the author" %}</h2>
                
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        {% if book.author.image %}
                            <img src="{{ book.author.image.url }}" alt="{{ book.author.full_name }}" class="rounded-circle" width="70" height="70">
                        {% else %}
                            <img src="/static/imgs/noavatar.png" alt="{{ book.author.full_name }}" class="rounded-circle" width="70" height="70">
                        {% endif %}
                    </div>
                    <div class="col">
                    <h3 class="mb-0">{{ book.author.full_name }} <small class="text-muted">✍️</small></h3>
                    <p class="text-muted mb-0">{{ book.author.book_set.count }} books · 14.7k followers</p>
                    </div>
                    <div class="col-auto">
                    <a href="{% url "show_author" book.author.slug %}" class="btn btn-dark">
                        More
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m8.818 15.182l6.364-6.364m-4.95 0h4.95v4.95"/><path d="M3 9.4c0-2.24 0-3.36.436-4.216a4 4 0 0 1 1.748-1.748C6.04 3 7.16 3 9.4 3h5.2c2.24 0 3.36 0 4.216.436a4 4 0 0 1 1.748 1.748C21 6.04 21 7.16 21 9.4v5.2c0 2.24 0 3.36-.436 4.216a4 4 0 0 1-1.748 1.748C17.96 21 16.84 21 14.6 21H9.4c-2.24 0-3.36 0-4.216-.436a4 4 0 0 1-1.748-1.748C3 17.96 3 16.84 3 14.6z"/></g></svg>
                        
                    </a>
                    </div>
                </div>
                    {{ book.author.description|truncatechars_html:500 }} <a href="{% url "show_author" book.author.slug %}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
