{% extends "dash.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 card shadow-sm">
                <h1 class="h4 mt-3">{{ title }}</h1>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert p-2 m-0 alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <div class="mt-5 d-flex justify-content-center">
                    <nav aria-label="Next and Previous navigation" class="w-100">
                        <ul class="pagination d-flex justify-content-between">
                            {% if book.pre %}
                            <li class="page-item">
                                <a class="page-link btn btn-primary text-white" href="{% url 'update_book' book.pre.id %}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo; {% trans 'Previous' %}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if book.next %}
                            <li class="page-item">
                                <a class="page-link btn btn-primary text-white" href="{% url 'update_book' book.next.id %}"
                                    aria-label="Next">
                                    <span aria-hidden="true">{% trans 'Next' %} &raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                {% if book.verified %}
                 
                 <div class="m-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="20" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m8.667 12.633l1.505 1.721a1 1 0 0 0 1.564-.073L15.333 9.3"/><path d="M21 12a9 9 0 1 1-18 0a9 9 0 0 1 18 0"/></g></svg>
                    <span>{% trans "Book verified" %} </span>  
                 <div>
                {% endif %}

                <form method="POST" enctype="multipart/form-data" class="mb-3">
                    {% csrf_token %}
                    <div class="create-form">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="{{ form.name.id_for_label }}">Name</label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="text-danger">{{ form.name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.author.id_for_label }}">Author</label>
                                {{ form.author }}
                                {% if form.author.errors %}
                                    <div class="text-danger">{{ form.author.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="{{ form.category.id_for_label }}">Category</label>
                                {{ form.category }}
                                {% if form.category.errors %}
                                    <div class="text-danger">{{ form.category.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.language.id_for_label }}">Language</label>
                                {{ form.language }}
                                {% if form.language.errors %}
                                    <div class="text-danger">{{ form.language.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="{{ form.image.id_for_label }}">Image</label>
                                {{ form.image }}
                                {% if form.image.errors %}
                                    <div class="text-danger">{{ form.image.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.file.id_for_label }}">File</label>
                                {{ form.file }}
                                {% if form.file.errors %}
                                    <div class="text-danger">{{ form.file.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.tags.id_for_label }}">Keywords</label>
                                {{ form.tags }}
                                {% if form.tags.errors %}
                                    <div class="text-danger">{{ form.tags.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.description.id_for_label }}">Description</label>
                                {{ form.description }}
                                {% if form.description.errors %}
                                    <div class="text-danger">{{ form.description.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.body.id_for_label }}">Content</label>
                                {{ form.body }}
                                {% if form.body.errors %}
                                    <div class="text-danger">{{ form.body.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button class="mt-2 btn btn-success w-100">{% trans "Create book" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}