<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center" id="header-menu">

        <ul class="navbar-nav primary-menu">
            <li class="nav-item ">
                <a href="/blogs" class="">Blogs </a>
            </li>
            <!-- <li class="nav-item ">
                <a href="/books" class="">Books </a>
            </li>

            <li class="nav-item ">
                <a href="/authors" class=""> Authors </a>
            </li> -->

            <li class="nav-item ">
                <a href="/contact" class="">
                    Contact 
                </a>
            </li>

            <li class="nav-item ">
                <a href="/privacy-policy" class="">
                    Privacy 
                </a>
            </li>

            <li class="nav-item ">
                <a href="/about-us" class="">
                    About 
                </a>
            </li>
        </ul>
    </div>
</nav>