{% load static %}

<!DOCTYPE html>
<html lang="en" class="" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }}{% else %}Weky Books: Your Guide to Book Summaries{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}Weky Book is your ultimate guide to concise and insightful book summaries. Explore a wide range of book summaries across various genres, helping you quickly grasp the key ideas and stories{% endif %}">
  <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}book summaries, Weky Book, book guide, reading summaries, book insights, literature summaries, book reviews, book analysis, quick reads, book digest, popular books, best book summaries{% endif %}">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://d-pdf.com/themes/default/resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://d-pdf.com/themes/default/resources/css/plugins.css">
  <link rel="stylesheet" href="https://d-pdf.com/themes/default/resources/css/style.css">

  <link rel="stylesheet" href="https://d-pdf.com/themes/default/resources/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://d-pdf.com/themes/default/resources/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="{% static "css/style.css" %}">


  <link rel="apple-touch-icon" sizes="180x180" href="{% static "logos/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "logos/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "logos/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "logos/site.webmanifest" %}">
  <link rel="mask-icon" href="{% static "logos/safari-pinned-tab.svg" %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="mb-0 pb-0">
  <header class="header d-flex justify-content-between px-3">
    <div class="mt-2">
      <div class="logo">
        <a href="/"><img src="{% static "imgs/Wikybook-without-bg.png" %}" alt="Logo"></a>
      </div>
    </div>

   {% include "components/nav.html" %}

    <div class="menu-toggler position-relative" data-toggle="collapse" data-target="#header-menu" aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="bar"></div>
    </div>
  </header>
  {% block content %}{% endblock content %}

  {% include "components/footer.html" %}
  <button class="back-to-top" id="back-to-top" role="button"><i class="ti-angle-up"></i></button>

  <script src="https://d-pdf.com/themes/default/resources/js/jquery.min.js"></script>
  <script src="https://d-pdf.com/themes/default/resources/js/popper.min.js"></script>
  <script src="https://d-pdf.com/themes/default/resources/js/bootstrap.min.js"></script>

  <script src="https://d-pdf.com/themes/default/resources/js/owl.carousel.min.js"></script>

  <script src="https://d-pdf.com/themes/default/resources/js/plugins.js"></script>
  <script src="https://d-pdf.com/themes/default/resources/js/custom.js"></script>

</body>

</html>