{% extends "base.html" %}


{% block content %}
<section class="authors-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="authors-list">
                    <div class="top-filter row">
                        <div class="col-lg-8 text">
                            Found <span>20 authors</span> in total
                        </div>
                    </div>
                    <div class="row">
                        {% for author in authors %}
                        <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                            <div class="author">
                                <div class="author-photo">
                                    <a href="{% url "show_author" author.slug %}" class="text-center">
                                        <img class="cover" src="/static/imgs/noavatar.png" alt="{{ author.full_name }}">
                                    </a>
                                </div>
                                <div class="author-info">
                                    <h4 class="author-name">
                                        <a href="{% url "show_author" author.slug %}">{{ author.full_name }}</a>
                                    </h4>
                                    <span class="author-books">{{ author.book_set.count }} books</span>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    {% if authors.paginator.num_pages > 1 %}
                    <div class="pagination-container">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if authors.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" style="padding: 4.4px;"
                                        href="?page={{ authors.previous_page_number }}" aria-label="Previous">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M5 12l14 0" />
                                            <path d="M5 12l6 6" />
                                            <path d="M5 12l6 -6" />
                                        </svg>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in authors.paginator.page_range %}
                                {% if authors.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                                {% elif num > authors.number|add:'-3' and num < authors.number|add:'3' %} <li
                                    class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if authors.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" style="padding: 4.4px;"
                                            href="?page={{ authors.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M5 12l14 0" />
                                                    <path d="M13 18l6 -6" />
                                                    <path d="M13 6l6 6" />
                                                </svg>
                                            </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                    {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}