{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="single-author">
        <div class="container">
            <div class="row author">
                <div class="col-lg-12">
                    <div class="author-photo m-auto">
                       {% if author.image %}
                            <img src="{{ author.image.url }}" alt="{{ author.full_name }}" class="img-fluid">
                       {% else %}
                            <img src="/static/imgs/noavatar.png" alt="{{ author.full_name }}" class="img-fluid">
                       {% endif %}
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="author-info">
                        <h1>{{ author.full_name }} - Books</h1>
                        {% if author.description %}
                         <div class="more">
                            <div class="">
                                {{ author.description|safe }}
                            </div>
                        </div>
                        {% endif %}
                      {% if user.is_superuser %}
                        <a href="{% url "update_author" author.slug %}" class="btn btn-success mt-3 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M9.533 11.15A1.82 1.82 0 0 0 9 12.438V15h2.578c.483 0 .947-.192 1.289-.534l7.6-7.604a1.82 1.82 0 0 0 0-2.577l-.751-.751a1.82 1.82 0 0 0-2.578 0z"/><path d="M21 12c0 4.243 0 6.364-1.318 7.682S16.242 21 12 21s-6.364 0-7.682-1.318S3 16.242 3 12s0-6.364 1.318-7.682S7.758 3 12 3"/></g></svg>
                            {% trans "Edit" %}
                        </a>
                         <a href="" class="btn btn-danger mt-3 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m18 9l-.84 8.398c-.127 1.273-.19 1.909-.48 2.39a2.5 2.5 0 0 1-1.075.973C15.098 21 14.46 21 13.18 21h-2.36c-1.279 0-1.918 0-2.425-.24a2.5 2.5 0 0 1-1.076-.973c-.288-.48-.352-1.116-.48-2.389L6 9m7.5 6.5v-5m-3 5v-5m-6-4h4.615m0 0l.386-2.672c.112-.486.516-.828.98-.828h3.038c.464 0 .867.342.98.828l.386 2.672m-5.77 0h5.77m0 0H19.5"/></svg>
                            {% trans "Delete" %}
                        </a>
                      {% endif %}
                    </div>
                    <div class="mt-5 d-flex justify-content-center">
                        <nav aria-label="Next and Previous navigation" class="w-100">
                            <ul class="pagination d-flex justify-content-between">
                                {% if author.pre %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-primary" href="{% url 'show_author' author.pre.slug %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo; {% trans "Previous" %}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if author.next %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-primary" href="{% url 'show_author' author.next.slug %}" aria-label="Next">
                                            <span aria-hidden="true">{% trans "Next" %} &raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 books-listing">
                    <div class="books-list">
                        <div class="row book-grid">
                            {% for book in books %}
                                <div class="col-sm-12 col-md-6 col-lg-4 book-3-row">
                                    <div class="row book" itemscope itemtype="http://schema.org/Book">
                                        <meta itemprop="isbn" content="9780670858699" />
                                        <meta itemprop="name" content="{{ book.name }}" />
                                        <meta itemprop="datePublished" content="{{ book.created_at|date:"Y" }}" />
                                        <div class="book-cover col-lg-3 col-3">
                                            <a href="{% url 'show_book' book.slug %}">
                                                {% if book.image %}
                                                <img src="{{ book.image.url }}" alt="{{ book.name }}" class="img-fluid">
                                                {% else %}
                                                <img src="" alt="{{ book.name }}" class="img-fluid">
                                                {% endif %}
                                                
                                            </a>
                                        </div>
                                        <div class="book-info col-lg-9 col-9">
                                            <h2 class="book-title">
                                                <a href="{% url 'show_book' book.slug %}">{{ book.name }}</a>
                                            </h2>
                                            <div class="book-attr">
                                                <span class="book-publishing-year">{{ book.created_at|date:"Y" }}</span>
                                            </div>
                                            <div class="book-rating">
                                                <!-- Replace with actual stars rating if available -->
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                                {% include "components/start.html" %}
                                            </div>
                                            {% if book.description %}
                                            <div class="book-short-description">{{ book.description|slice:":90"|default:"..." }}</div>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
